:root{
  --bgColor: #02021b;
  --purpleColor: #282828;
  --whiteColor: antiquewhite;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: var(--bgColor);
  color: var(--whiteColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.text{
  font-size: 3rem;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-in-out;
}
.inputGroup{
  height: 10vh;
}
